# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.turbo

# Outputs
.next
out
build
dist
.expo
.expo-shared
android
ios

# Env
.env*
!ENV_EXAMPLE.md
.supabase

# Misc
.DS_Store
.idea
.vscode

# Temporary/Debug files
build_log*.txt
*.log.txt
debug_*.txt

